@media only screen and (min-width: 1023px) {
  .grid-container {
    display: grid;
    grid-template-areas: "logo nav nav" "contenido contenido contenido" "footer footer footer";
    grid-template-rows: repeat(3, 33%);
    grid-template-columns: 150px 1fr 400px; }
    .grid-container .logo {
      grid-area: logo; }
    .grid-container .nav {
      grid-area: nav; }
    .grid-container .encabezado {
      grid-area: encabezado; }
    .grid-container footer {
      grid-area: footer; } }

li {
  padding: 50px; }
  li a {
    color: red;
    text-decoration: none;
    margin-left: 200px; }

.encabezado {
  padding: 50px; }
  .encabezado h1 {
    font-size: 100px; }

img {
  width: 400px;
  heigth: auto; }

footer {
  background-color: black;
  display: flex; }
  footer h3 {
    color: red; }

.boton, .boton--aceptar, .boton--cancelar {
  width: 300px;
  height: 100px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black; }

.boton--aceptar {
  background-color: green;
  color: White; }

.boton--cancelar {
  background-color: blue;
  color: White; }

p {
  color: red;
  font-size: fsize;
  text-align: center; }
