*{
   margin: 0px;
   padding: 0px;
 }
img {
    width: 400px;
    height: auto; }

body{
    background-color: navajowhite;
    font-family: 'Pushster', cursive;
}

.imgscale:hover{
    transform: translateX(-200px);
    transform: scale(1.1);
    transition: all 4s;
}