*{
   margin: 0px;
   padding: 0px;
 }
img {
    width: 400px;
    height: auto; }

body{
    background-color: navajowhite;
    font-family: 'Pushster', cursive;

}

.imgscale:hover{
    transform: translateX(-200px);
    transform: scale(1.1);
    transition: all 4s;
}


a{
    text-decoration: none;
    float: right;
    padding-right: 200px;
    justify-content: center;

}







footer{
    background-color: lightblue;
    text-align: center;

    
}


.contact{
    background-color: royalblue;
    margin: 0px;

}

.seccion{
    background-color: whitesmoke;
    padding: 50px;


}

form{
    width: 300px;







