@import "colores";
$flex:flex;
$center: center;
$space-between: space-between;
footer{
    background-color: $lightblue;
    text-align: $center;
    display: $flex;
    justify-content: $space-between;
}